@font-face {
  font-family: Avalon;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/avalon-bold.eot);
  src: url(../fonts/avalon-bold-iefix.eot) format("embedded-opentype"), url(../fonts/avalon-bold.woff) format("woff"), url(.../fonts/avalon-bold.ttf) format("truetype");
}

@font-face {
  font-family: TNW-Avalon;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/TNW-Avalon-Bold.otf);
  src: url(../fonts/TNW-Avalon-Bold.ttf);
}

@font-face {
  font-family: Shentox;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/shentox-medium.eot);
  src: url(../fonts/shentox-medium-iefix.eot) format("embedded-opentype"), url(../fonts/shentox-medium.woff2) format("woff2"), url(../fonts/shentox-medium.woff) format("woff"), url(../fonts/shentox-medium.ttf) format("truetype");
}

@font-face {
  font-family: Trump;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Trump-Gothic-East-Bold.ttf);
}

@font-face {
  font-family: Graphik;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/graphik-regular.woff) format("woff"), url(../fonts/graphik-regular.woff2) format("woff2");
}

@font-face {
  font-family: Graphik-Medium;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/graphik-medium.woff) format("woff"), url(../fonts/graphik-medium.woff) format("woff2");
}

@font-face {
  font-family: ARS-Maquette;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/ars-maquette-regular.woff) format("woff");
}

@font-face {
  font-family: ARS-Maquette;
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/ars-maquette-bold-alt.woff) format("woff");
}

@font-face {
  font-family: ARS-Maquette;
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/ars-maquette-regular-italic.woff) format("woff");
}
