* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    color: #fff;
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}


/*----------------------------- Nav Bar -----------------------------*/

.main-nav {
    height: 48px;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-logo {
    height: 20px;
    background-color: beige;
    left: 0;
    position: absolute;
    top: 0;
}

.nav-logo a {
    position: relative;
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    display: block;
    height: 48px;
    padding: 16px 20px;
    width: 106px;
}

.nav-icons-list {
    float: right;
    list-style: none;
}

.nav-icons::after {
    clear: both;
    content: "";
    display: block;
}

.nav-icons-list a {
    display: block;
    height: 48px;
    opacity: .25;
    padding: 16px;
    width: 48px;
}

.nav-icons-list a span {
    width: 16px;
    height: 16px;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
    color: #000;
}

.nav-icons-list li {
    float: left;
    border-left: 1px solid #eee
}

.nav-event {
    background-color: #ffdd33;
    text-align: center;
    line-height: 60px;
    color: #000;
		padding: 0 4%;
		font-size: 0.9em;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*----------------------------- Main -----------------------------*/

.main {
    padding-top: 72px;
    /* background-color: blueviolet; */
}

.main-articles,
.wrapper {
    padding: 2%;
}


/*------ Featured ------*/

.article-image {
    background: url("../img/boris.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 796px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 0 5px;
}

.article-image header {
	padding: 14px 12px;
}

.article-image h2 {
	margin-bottom: 5px;
}

.article-header a {
    font-size: 30px;
}


/*------ News ------*/

.latest-news,
.latest-deals {
	margin-top: 25px;
	padding: 2%;
	color: #000;
}

.deals-header h2,
.latest-news-header {
	font-size: 2em;
	color: #f42;
	margin-bottom: 10%;
}

.latest-news-item {
    display: flex;
		margin-top: 10px;
		padding: 0% 2% 2% 0%;
}

.news-image {
    background: url("../img/latest-news-image.jpg");
    height: 75px;
    width: 75px;
    flex-basis: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}

.news-info {
    padding-left: 2%;
    flex-basis: 80%;
}

.news-info h2 {
    font-size: 1em;
    font-weight: bold;
}

.latest-info-description p {
    font-size: 0.8em;
    margin-top: 1%;
}


/*------ Deals ------*/

.deals-header {
	margin-bottom: 30px;
}

.latest-deals-links ul li {
    margin: 10px 10px 10px 0;
}

.latest-deals-links ul li a{
	color: #f42;
	font-size: 1.2em;
}

.deals-story-links {
		background-color: #fffaf8;
		color: grey;
		display: block;
		padding: 2% 6%;
		line-height: 3em;
}

.deals-story-links i{
	margin-right: 5px;
	font-size: 1.5em;
}

.deals-story hr {
	border: 1px solid #ffccc3;
}

.deals-row-items {
    margin-bottom: 3%;
    position: relative;
    z-index: 1;
}

.deals-row-items img {
    position: absolute;
    top: 2%;
    left: 2%;
		width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

.deals-story a {
    font-size: 1.5em;
    padding: 2% 0 2% 20%;
    color: #fff;
    display: block;
    background-color: #f42;
}

.story-investment-card {
    background-color: #ffebe8;
    padding: 2% 0 2% 20%;
}

.story-investment-card p:first-child {
	font-weight: bold;
	font-size: 1.2em;
	color: black;
	margin-bottom: 5px;
}

.story-investment-card p:last-child {
	font-size: 0.8em;
	color: grey;

}


/*------ Category Section ------*/

.category-sections {
    background-color: chocolate;
    margin-bottom: 10%;
}

.category-img {
    background: url(../img/Codota-368x276.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 0 1px;
}

.category-header {
    font-size: 1.2em;
}

.category-img p {
    font-size: 0.8em;
}

.category-latest {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.category-latest-title {
    background-color: #fff4f2;
    padding: 5% 5%;
    color: #f42;
}

.category-latest-image {
    background: url(../img/category-latest-image-tiktok.png) 50% no-repeat;
    min-width: 96px;
    min-height: 96px;
    background-size: cover;
}

.section-apps ul li {
    border-bottom: 1px solid grey;
    padding: 1% 2% 1% 6%;
    color: grey;
}

.section-apps h2 {
    font-size: 2em;
    color: #f42;
    margin-bottom: 3%;
}

.section-apps {
    padding: 2%;
}


/*------ Last Main Section ------*/

.last-main-section {
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.last-main-section-header {
    margin-bottom: 7%;
}

.last-main-section-header h2 {
    float: left;
    font-size: 2em;
    color: #f42;
}

.last-main-section-header a {
    float: right;
    color: #f42;
    margin-top: 11px;
}

.last-main-section-list {
    background-color: darkgreen;
}

.last-main-section-list-item {
    display: flex;
    padding: 2%;
}

.last-main-section-list-item-img {
    background: url(../img/last-main-section-list-item-img-sale_27973_primary_image.jpg) no-repeat;
    background-size: cover;
    width: 75px;
    height: 75px;
}

.last-main-section-list-item-info {
    padding: 3%;
}

.last-main-section-list-item-info p:first-child {
    margin-bottom: 10px;
    font-weight: bold;
}


/*----------------------------- Footer -----------------------------*/

.footer-links {
    height: 161px;
    background-color: #131313;
}

.footer-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.footer-links-menu li {
    margin-right: 2%;
    text-transform: uppercase;
    color: #555;
    font-size: 0.8em;
}

.social-icons li {
    display: inline;
    margin-left: 10px;
    font-size: 12px;
}

.social-icons i {
    padding: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #333;
    cursor: pointer;
}

.footer-legal span {
    display: block;
}

.footer-legal {
    background-color: #000;
    padding: 2em 0;
    text-align: center;
    font-size: 0.9em;
}


/* .cover-story {
    min-height: 30vh;
    background-color: brown;
    border: 1px solid #000;
} */